pkgbase = loginom-community
	pkgdesc = Loginom Community Edition — low-code data analytics platform
	pkgver = 7.3.0.rc
	pkgrel = 1
	url = https://loginom.ru
	arch = x86_64
	license = custom:unfree
	depends = acl
	depends = alsa-lib
	depends = at-spi2-core
	depends = avahi
	depends = brotli
	depends = bzip2
	depends = cairo
	depends = curl
	depends = dbus
	depends = double-conversion
	depends = duktape
	depends = e2fsprogs
	depends = expat
	depends = fontconfig
	depends = freetype2
	depends = fribidi
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = glycin
	depends = gmp
	depends = gnutls
	depends = graphite
	depends = gtk3
	depends = harfbuzz
	depends = icu
	depends = json-glib
	depends = karchive5
	depends = kauth5
	depends = kbookmarks5
	depends = kcodecs5
	depends = kcompletion5
	depends = kconfig5
	depends = kconfigwidgets5
	depends = kcoreaddons5
	depends = kcrash5
	depends = kdbusaddons5
	depends = keyutils
	depends = kglobalaccel5
	depends = kguiaddons5
	depends = ki18n5
	depends = kiconthemes5
	depends = kio5
	depends = kitemviews5
	depends = kjobwidgets5
	depends = krb5
	depends = kservice5
	depends = kwidgetsaddons5
	depends = kwindowsystem5
	depends = kxmlgui5
	depends = lcms2
	depends = leancrypto
	depends = libcap
	depends = libcloudproviders
	depends = libcups
	depends = libdatrie
	depends = libdrm
	depends = libepoxy
	depends = libffi
	depends = libglvnd
	depends = libidn2
	depends = libimobiledevice
	depends = libimobiledevice-glue
	depends = libnghttp2
	depends = libnghttp3
	depends = libp11-kit
	depends = libplist
	depends = libpng
	depends = libproxy
	depends = libpsl
	depends = libseccomp
	depends = libssh2
	depends = libtasn1
	depends = libthai
	depends = libunistring
	depends = libusbmuxd
	depends = libx11
	depends = libxau
	depends = libxcb
	depends = libxcomposite
	depends = libxcursor
	depends = libxdamage
	depends = libxdmcp
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxinerama
	depends = libxkbcommon
	depends = libxml2
	depends = libxrandr
	depends = libxrender
	depends = md4c
	depends = mesa-git
	depends = nettle
	depends = nspr
	depends = nss
	depends = openssl
	depends = pango
	depends = pcre2
	depends = pixman
	depends = qt5-base
	depends = qt5-svg
	depends = qt5-wayland
	depends = qt5-x11extras
	depends = solid5
	depends = sqlite
	depends = systemd-libs
	depends = tinysparql
	depends = util-linux-libs
	depends = wayland
	depends = xcb-util-keysyms
	depends = xz
	depends = zlib-ng-compat
	depends = zstd
	source = loginom-community-7.3.0.rc_linux.tar.gz::https://storage.yandexcloud.net/private-loginom-ru/LoginomCE/loginom-community-7.3.0-rc_linux.tar.gz?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=YCAJEUdCH7bkAv88YafPx0UvQ%2F20251118%2Fru-central1%2Fs3%2Faws4_request&X-Amz-Date=20251118T004303Z&X-Amz-Expires=259200&X-Amz-SignedHeaders=host&response-content-disposition=attachment&X-Amz-Signature=f6de5e781ab29bfe0c1044374303a7e5be64857334cc921db8ab3620f04e0383
	sha256sums = a802fbe5864dc418d03efdefa06225eb2b27ad2ddf3b6fbad6cfc29b2a672835

pkgname = loginom-community
